@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;500;700&family=Koho:wght@400&family=Itim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
    box-shadow: 0 0 15px white;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
.nav-link:active{
    color: red !important;
}

img{
    aspect-ratio: 3/2 !important;
    object-fit: contain !important;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
  }
  .footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
  }
  
  .footer-links li {
    cursor: pointer;
  }
  
  .footer-social-icon {
    display: flex;
    gap: 20px;
    mix-blend-mode: color-burn;
  }
  .footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
  }
  
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
  }
  .footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
  }

.nav-link.active{
  color: red !important;
}